:root{
	--color: grey;
	--background: black;
}
*{
	margin: 0;
	padding: 0;
	font-family: "sans-serif";
}
body{
	background-color: var(--background);
}
.container{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 5rem;
}
.frame{
	width: 480px;
	height: 480px;
	overflow: hidden;
	position: relative;
}
.slider{
	display: flex;
	transition: ease .4s;
}
.navBtnWrapper{
	display:flex;
	gap: .2rem;
	position: absolute;
	top: 430px;
	left: 220px;
}
.navBtn{
	height: .5rem;
	width: .5rem;
	border: solid 2px var(--color);
	border-radius: 15px;
}
.navBtn:hover{
	background-color: var(--color);
}
.photoOne{
	transform: translateX(0);
}
.photoTwo{
	transform: translateX(-480px);
}
.photoThree{
	transform: translateX(-960px);
}
.photoFour{
	transform: translateX(-1440px);
}




